<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div>
				<p>
					Hi,
					<br>This is Sandeep Kunkunuru. I am a Software Engineer by profession.
					<br>tingri in Telugu means crazy in a good way.
				</p>
			</div>
		</div>
	</div>
</div>

