<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div>
                <p>
                    Hi,
                    <br>I am a Software Engineer by profession and by hobby an enthusiastic reader,
                    lazy-sporadic-runner.
                    <br>'tingri' in Telugu means crazy in a good way.
                    <br>
                    <%= link_to 'StackOverflow', 'http://stackoverflow.com/users/294552/sandeepkunkunuru' %>,
                    <%= link_to 'Github', 'https://github.com/sandeepkunkunuru' %>,
                    <%= link_to 'Blog', 'http://blog.tingri.me' %>,
                    <%= link_to 'LinkedIn', 'http://www.linkedin.com/in/sandeepkunkunuru' %>
                    <br>

                <p>The best way to send me a message is (kunkunur at gmail dot com)</p>
                </p>
            </div>
        </div>
    </div>
</div>

