<div class="container">
    <div class="row">
        <div class="span12">
            <h3>Website Updates</h3>
            <hr>
            <br>
            <br>
            <ul class="text-left">
                <li>AUGUST-24-2014:Projects added, bootstrap theme changed</li>
                <li>JUNE-15-2014:Added Slides Menu with "Data Structures - Logial and Physical" presentation.</li>
                <li>JUNE-03-2014:Migration to RoR from Yii complete. Added a few gists, find them in Gists menu.</li>
            </ul>
        </div>
    </div>
</div>