<h3>Updates</h3>
<ul>
    <li><p>Added Coursera "Machine Learning" <a href="/certificates/soaml">statement of accomplishment</a></p></li>
    <li><p>Added a few gists, find them in Gists menu.</p></li>
    <li><p>For my work-in-progress blog about building this website checkout <a href="http://blog.tingri.me">Building a Personal Website.</a></p></li>
</ul>
<br>
<p>Use Firefox for better UX.</p>