// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sdocs{
  width:967px;
  height:600px;
  border:1px solid #CCC;
  border-width:1px 1px 0;
  margin-bottom:5px;
  max-width: 100%;
  frameborer:0;
  marginwidth:0;
  marginheight:0;
  allowfullscreen:true;
  mozallowfullscreen:true;
  webkitallowfullscreen:true;
}
