<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div>
                <ul>
                    <li>Certified Programmer -
                        <a href="https://drive.google.com/file/d/0B46KhxnDeZbyZll5RThzXzI5OG8/edit?usp=sharing">
                            ‘Sun Certified Java Programmer’</a>
                    </li>
                    <li>Certified Developer -
                        <a href="https://drive.google.com/file/d/0B46KhxnDeZbyMGhOQUtMQU9jcVk/edit?usp=sharing">
                            ‘IBM Certified Solution Developer - XML and related technologies’</a>
                    </li>
                    <li>Certified Designer -
                        <a href="https://drive.google.com/file/d/0B46KhxnDeZbyTWRnNWVmYUtKdU0/edit?usp=sharing">
                            ‘IBM Certified Solution Designer - Object Oriented Analysis and Design’</a>
                    </li>
                    <li>Certified Architect -
                        <a href="https://drive.google.com/file/d/0B46KhxnDeZbyN05ZQ0JOYjNZQnM/edit?usp=sharing">
                            ‘Sun Certified Enterprise Architect’</a>
                    </li>
                    <li>Database Certification  -
                        <a href="https://drive.google.com/file/d/0B46KhxnDeZbyaU9HLWE3ZWlBT1E/edit?usp=sharing">
                            ‘VoltDB Vanguard-level Certification’</a>
                    </li>
                    <li>Data Analysis Certification -
                        <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?verify-code=5JUZK2VYEF">
                            ‘Computing for Data Analysis’</a> non-credit course authorized by Johns Hopkins University through Coursera Inc.
                    </li>
                    <li>Machine Learning Certification  -
                        <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970311">
                            ‘Machine Learning’</a> free online course provided by Stanford University through Coursera Inc.
                    </li>
                    <li>Domain Certifications  -
                        <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?verify-code=63L4H47B93">
                            ‘Marketing’</a> non-credit course authorized by University of Pennsylvania through Coursera Inc.
                    </li>
                    <li>SQL Certification - Oracle 9i : SQL</li>
                </ul>
            </div>
        </div>
    </div>
</div>